@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;700;900&display=swap");
/* font-family: 'Gothic A1', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: transparent;
}
body {
  font-family: "Gothic A1", sans-serif;
  color: #404040;
}
#wrapper {
  /* background-color: rgb(230, 243, 253); */
  width: 100%;
  /* max-width: 1920px;
  min-width: 1300px; */
  margin: 15px auto;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
/* header area */
header {
  width: 100%;
  height: 180px;
  /* overflow: hidden; */
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.25);
}
.topmenu {
  position: relative;
  font-weight: 500;
  color: #404040;
}
.icon {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 70px;
  font-size: 20px;
}
.log_in {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 56px;
  height: 22px;
  text-align: center;
  line-height: 24px;
  border-radius: 15px;
  color: #fff;
  font-size: 13px;
  background-color: #5a2149;
}
.log_in::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -0.5px;
  width: 51px;
  height: 18px;
  border-radius: 15px;
  border: 3px solid #5a2149;
  /* transition: all 0.3s; */
  animation: log_in_move 0.7s infinite;
  transition-timing-function: ease-in-out;
}
@keyframes log_in_move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2%);
  }
  /* 100% {
    transform: translateY(0);
  } */
}
.fa-globe::after {
  content: "사이트맵";
  display: block;
  position: absolute;
  top: -10px;
  left: 60px;
  width: 70px;
  height: 22px;
  text-align: center;
  line-height: 24px;
  background-color: #404040;
  border-radius: 15px;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transition: all 0.3s;
}
li:hover .fa-globe::after {
  opacity: 1;
}
/* selectbox style */
.select_lang {
  position: relative;
}
.pl {
  border: 0;
  /* background-color: #000; */
  padding: 12px 13px;
  font-weight: 500;
  font-size: 20px;
  appearance: none;
  text-align: left;
}
.pl span {
  padding-right: 10px;
}
.list_box {
  position: absolute;
  top: 35px;
  left: 0;
  width: 160px;
  list-style: none;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 9px;
  display: none;
}
.list {
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 7px 10px;
  margin: 5px 7px;
}
.list:focus {
  background: #5a2149;
  color: #fff;
  width: 90%;
  border-radius: 8px;
  text-align: left;
}
#menu {
  /* background-color: antiquewhite; */
  padding: 0 100px;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin-top: 40px;
  padding: 20px 120px;
  border-radius: 5px;
  border: 1px solid var(--d-8-d-8-d-8, #d8d8d8);
}
.depth_1 > a {
  font-size: 22px;
  font-weight: 700;
  color: #404040;
}
.depth_2 {
  margin-top: 30px;
  display: none;
}
/* main area */
.main_inner {
  background-color: #5a2149;
  border-radius: 5px;
  margin-top: 50px;
  width: 980px;
}
.from_to {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 382px;
  color: #fff;
  font-size: 32px;
  padding: 40px 100px;
}
.from_to span {
  position: relative;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.from_to span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.from_to span.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.ticketing_box {
  position: relative;
}
.ticketing_box ul {
  display: flex;
  justify-content: center;
}
.ticketing_box ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.ticketing_box ul li > span {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 22px;
  color: #5f6062;
}
.station {
  width: 450px;
  height: 200px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}
.station:nth-child(2) {
  margin-left: 1px;
}
.station_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  bottom: -69%;
  left: 0;
  width: 450px;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 9px;
}
.station_box .list {
  border: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
}
.station_box .list:focus {
  width: 430px;
  background-color: #404040;
  color: #fff;
  text-align: center;
}
/* js */
.station_box {
  opacity: 0;
  position: absolute;
}
/* js end */
.ticketing_info .date_time {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}
.month {
  border-radius: 5px 0 0 5px;
  margin-right: 1px;
}
.dropbox {
  border-radius: 0 5px 5px 0;
  width: 450px;
  height: 80px;
  border: 0;
}
.dropbox .time {
  border-radius: 0 5px 5px 0;
  width: 450px;
  height: 80px;
  border: 0;
  text-align: center;
}
.dropbox label {
  display: none;
}

.ticketing_info input {
  width: 450px;
  height: 80px;
  border: 0;
  /* border-radius: 5px; */
  text-align: center;
}
/* passenger */
.ticketing_info .passenger {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.number-input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  height: 80px;
  border-radius: 5px;
  background-color: #fff;
}
.number-input input {
  height: 30px;
  padding-left: 15px;
  font-size: 14px;
  width: 3em;
}
.number-input label {
  padding: 0 30px;
  font-weight: 500;
  font-size: 17px;
}
.number-input button {
  background-color: #ededed;
  border: none;
  color: #404040;
  font-size: 1rem;
  padding: 0.5rem;
  width: 2rem;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.number-input button:nth-of-type(odd) {
  border-radius: 5px 0 0 5px;
}
.number-input button:nth-of-type(even) {
  border-radius: 0 5px 5px 0;
}

.quantity {
  width: 3rem;
  text-align: center;
}
form p {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.load_timeTable {
  width: 360px;
  height: 50px;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #5a2149;
}
/* quick menu */
.quick_menu {
  width: 980px;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.quick_menu_list {
  display: flex;
  justify-content: center;
  gap: 110px;
  padding: 40px 0 45px 0;
}
.quick_menu_list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quick_menu_list span {
 padding-top: 20px;
}
